<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Game Match App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- ヘッダー部分 -->
    <nav>
      <%= link_to "ホーム", root_path %> |
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> |
        <%=  current_user.email %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path %> |
        <%= link_to "サインアップ", new_user_registration_path %>
      <% end %>
    </nav>

    <!-- フラッシュメッセージ -->
    <div id="flash-messages">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type == 'notice' ? 'success' : 'danger' %>">
          <%= message %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
